<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>QLSV</display-name>
  <welcome-file-list>
    <welcome-file>HomeServlet</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ListProductsServlet</servlet-name>
    <servlet-class>controller.ListProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProductsServlet</servlet-name>
    <url-pattern>/ListProductsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListCustomersServlet</servlet-name>
    <servlet-class>controller.ListCustomersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCustomersServlet</servlet-name>
    <url-pattern>/ListCustomersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListOrdersServlet</servlet-name>
    <servlet-class>controller.ListOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListOrdersServlet</servlet-name>
    <url-pattern>/ListOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>controller.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/AddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteProductServlet</servlet-name>
    <servlet-class>controller.DeleteProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductServlet</servlet-name>
    <url-pattern>/DeleteProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>controller.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>controller.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>controller.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CompleteOrderServlet</servlet-name>
    <servlet-class>controller.CompleteOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompleteOrderServlet</servlet-name>
    <url-pattern>/CompleteOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateProductServlet</servlet-name>
    <servlet-class>controller.UpdateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductServlet</servlet-name>
    <url-pattern>/UpdateProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteOrderLineServlet</servlet-name>
    <servlet-class>controller.DeleteOrderLineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOrderLineServlet</servlet-name>
    <url-pattern>/DeleteOrderLineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateOrderLineServlet</servlet-name>
    <servlet-class>controller.UpdateOrderLineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOrderLineServlet</servlet-name>
    <url-pattern>/UpdateOrderLineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewProductServlet</servlet-name>
    <servlet-class>controller.NewProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewProductServlet</servlet-name>
    <url-pattern>/NewProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>controller.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/CategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DetailServlet</servlet-name>
    <servlet-class>controller.DetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailServlet</servlet-name>
    <url-pattern>/DetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
</web-app>